body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:662px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11855 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:662px;
}
#u11856 {
  position:absolute;
  left:2px;
  top:323px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11857 {
  position:absolute;
  left:0px;
  top:155px;
  width:375px;
  height:77px;
}
#u11858 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11859 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
}
#u11860 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11863 {
  position:absolute;
  left:0px;
  top:27px;
  width:375px;
  height:51px;
}
#u11864 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u11865 {
  position:absolute;
  left:145px;
  top:38px;
  width:89px;
  height:26px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u11866 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u11867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u11867 {
  position:absolute;
  left:5px;
  top:10px;
  width:360px;
  height:11px;
}
#u11868 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u11869 {
  position:absolute;
  left:5px;
  top:44px;
  width:11px;
  height:16px;
}
#u11870 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11871 {
  position:absolute;
  left:0px;
  top:615px;
  width:375px;
  height:47px;
}
#u11872 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u11873 {
  position:absolute;
  left:97px;
  top:620px;
  width:175px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u11874 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u11875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11875 {
  position:absolute;
  left:0px;
  top:78px;
  width:375px;
  height:77px;
}
#u11876 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u11877 {
  position:absolute;
  left:0px;
  top:154px;
  width:375px;
  height:1px;
}
#u11878 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u11879 {
  position:absolute;
  left:9px;
  top:154px;
  width:357px;
  height:1px;
}
#u11880 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11881 {
  position:absolute;
  left:9px;
  top:88px;
  width:276px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11882 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u11883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11884 {
  position:absolute;
  left:341px;
  top:111px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(275deg);
  -moz-transform:rotate(275deg);
  -ms-transform:rotate(275deg);
  transform:rotate(275deg);
}
#u11884_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11884.mouseDown {
}
#u11885 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u11886 {
  position:absolute;
  left:347px;
  top:120px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(275deg);
  -moz-transform:rotate(275deg);
  -ms-transform:rotate(275deg);
  transform:rotate(275deg);
}
#u11886_img.selected {
}
#u11886.selected {
}
#u11886_img.disabled {
}
#u11886.disabled {
}
#u11887 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11888 {
  position:absolute;
  left:9px;
  top:114px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u11889 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11890 {
  position:absolute;
  left:46px;
  top:114px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u11891 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11892 {
  position:absolute;
  left:82px;
  top:114px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u11893 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11894 {
  position:absolute;
  left:119px;
  top:114px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u11895 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11896 {
  position:absolute;
  left:156px;
  top:114px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u11897 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u11898 {
  position:absolute;
  left:0px;
  top:231px;
  width:375px;
  height:1px;
}
#u11899 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11900 {
  position:absolute;
  left:9px;
  top:154px;
  width:276px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11901 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u11902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11903 {
  position:absolute;
  left:341px;
  top:177px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(275deg);
  -moz-transform:rotate(275deg);
  -ms-transform:rotate(275deg);
  transform:rotate(275deg);
}
#u11903_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11903.mouseDown {
}
#u11904 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u11905 {
  position:absolute;
  left:347px;
  top:186px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(275deg);
  -moz-transform:rotate(275deg);
  -ms-transform:rotate(275deg);
  transform:rotate(275deg);
}
#u11905_img.selected {
}
#u11905.selected {
}
#u11905_img.disabled {
}
#u11905.disabled {
}
#u11906 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11907 {
  position:absolute;
  left:9px;
  top:180px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11908 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11909 {
  position:absolute;
  left:46px;
  top:180px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11910 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11911 {
  position:absolute;
  left:82px;
  top:180px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11912 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11913 {
  position:absolute;
  left:119px;
  top:180px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11914 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11915 {
  position:absolute;
  left:156px;
  top:180px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11916 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11917 {
  position:absolute;
  left:0px;
  top:233px;
  width:375px;
  height:77px;
}
#u11918 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u11919 {
  position:absolute;
  left:0px;
  top:232px;
  width:375px;
  height:1px;
}
#u11920 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u11921 {
  position:absolute;
  left:9px;
  top:232px;
  width:357px;
  height:1px;
}
#u11922 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u11923 {
  position:absolute;
  left:0px;
  top:309px;
  width:375px;
  height:1px;
}
#u11924 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11925 {
  position:absolute;
  left:9px;
  top:232px;
  width:276px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11926 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u11927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11928 {
  position:absolute;
  left:341px;
  top:255px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(275deg);
  -moz-transform:rotate(275deg);
  -ms-transform:rotate(275deg);
  transform:rotate(275deg);
}
#u11928_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11928.mouseDown {
}
#u11929 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u11930 {
  position:absolute;
  left:347px;
  top:264px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(275deg);
  -moz-transform:rotate(275deg);
  -ms-transform:rotate(275deg);
  transform:rotate(275deg);
}
#u11930_img.selected {
}
#u11930.selected {
}
#u11930_img.disabled {
}
#u11930.disabled {
}
#u11931 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11932 {
  position:absolute;
  left:9px;
  top:258px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11933 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11934 {
  position:absolute;
  left:46px;
  top:258px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11935 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11936 {
  position:absolute;
  left:82px;
  top:258px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11937 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11938 {
  position:absolute;
  left:119px;
  top:258px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11939 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11940 {
  position:absolute;
  left:156px;
  top:258px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11941 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11942 {
  position:absolute;
  left:0px;
  top:311px;
  width:375px;
  height:77px;
}
#u11943 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u11944 {
  position:absolute;
  left:0px;
  top:310px;
  width:375px;
  height:1px;
}
#u11945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u11946 {
  position:absolute;
  left:9px;
  top:310px;
  width:357px;
  height:1px;
}
#u11947 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u11948 {
  position:absolute;
  left:0px;
  top:387px;
  width:375px;
  height:1px;
}
#u11949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11950 {
  position:absolute;
  left:9px;
  top:310px;
  width:276px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11951 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u11952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11953 {
  position:absolute;
  left:341px;
  top:333px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(275deg);
  -moz-transform:rotate(275deg);
  -ms-transform:rotate(275deg);
  transform:rotate(275deg);
}
#u11953_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11953.mouseDown {
}
#u11954 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u11955 {
  position:absolute;
  left:347px;
  top:342px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(275deg);
  -moz-transform:rotate(275deg);
  -ms-transform:rotate(275deg);
  transform:rotate(275deg);
}
#u11955_img.selected {
}
#u11955.selected {
}
#u11955_img.disabled {
}
#u11955.disabled {
}
#u11956 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11957 {
  position:absolute;
  left:9px;
  top:336px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11958 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11959 {
  position:absolute;
  left:46px;
  top:336px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11960 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11961 {
  position:absolute;
  left:82px;
  top:336px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11962 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11963 {
  position:absolute;
  left:119px;
  top:336px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11964 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11965 {
  position:absolute;
  left:156px;
  top:336px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u11966 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
