<!-- Page, "data-page" contains page name -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="../hall.html" class="back">
                <i class="glyphicon glyphicon-menu-left"></i>
            </a>
        </div>
        <div class="center">彩票名称投注</div>
    </div>
</div>
<div class="page no-toolbar" data-page="order-number">
    <div class="page-content orderWrap listBlock">
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-link item-content">
                        <div class="item-media">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                        <div class="item-inner">
                            <a href="../hall.html" class="numbers back">
                                <p><i>(</i><span>01</span><span>02</span><span>03</span><span>04</span><i>)</i><span>05</span><span>06</span><span class="blue">03</span></p>
                                <p>胆拖 4注8元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-link item-content">
                        <div class="item-media">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                        <div class="item-inner">
                            <a href="../hall.html" class="numbers back">
                                <p><i>(</i><span>01</span><span>02</span><span>03</span><span>04</span><i>)</i><span>05</span><span>06</span><span class="blue">03</span></p>
                                <p>胆拖 4注8元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-link item-content">
                        <div class="item-media">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                        <div class="item-inner">
                            <a href="../hall.html" class="numbers back">
                                <p><i>(</i><span>01</span><span>02</span><span>03</span><span>04</span><i>)</i><span>05</span><span>06</span><span class="blue">03</span></p>
                                <p>胆拖 4注8元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-link item-content">
                        <div class="item-media">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                        <div class="item-inner">
                            <a href="../hall.html" class="numbers back">
                                <p><i>(</i><span>01</span><span>02</span><span>03</span><span>04</span><i>)</i><span>05</span><span>06</span><span class="blue">03</span></p>
                                <p>胆拖 4注8元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-link item-content">
                        <div class="item-media">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                        <div class="item-inner">
                            <a href="../hall.html" class="numbers back">
                                <p><i>(</i><span>01</span><span>02</span><span>03</span><span>04</span><i>)</i><span>05</span><span>06</span><span class="blue">03</span></p>
                                <p>胆拖 4注8元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-link item-content">
                        <div class="item-media">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                        <div class="item-inner">
                            <a href="../hall.html" class="numbers back">
                                <p><i>(</i><span>01</span><span>02</span><span>03</span><span>04</span><i>)</i><span>05</span><span>06</span><span class="blue">03</span></p>
                                <p>胆拖 4注8元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-link item-content">
                        <div class="item-media">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                        <div class="item-inner">
                            <a href="../hall.html" class="numbers back">
                                <p><i>(</i><span>01</span><span>02</span><span>03</span><span>04</span><i>)</i><span>05</span><span>06</span><span class="blue">03</span></p>
                                <p>胆拖 4注8元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-link item-content">
                        <div class="item-media">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                        <div class="item-inner">
                            <a href="../hall.html" class="numbers back">
                                <p><i>(</i><span>01</span><span>02</span><span>03</span><span>04</span><i>)</i><span>05</span><span>06</span><span class="blue">03</span></p>
                                <p>胆拖 4注8元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-link item-content">
                        <div class="item-media">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                        <div class="item-inner">
                            <a href="../hall.html" class="numbers back">
                                <p><i>(</i><span>01</span><span>02</span><span>03</span><span>04</span><i>)</i><span>05</span><span>06</span><span class="blue">03</span></p>
                                <p>胆拖 4注8元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-link item-content">
                        <div class="item-media">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                        <div class="item-inner">
                            <a href="../hall.html" class="numbers back">
                                <p><i>(</i><span>01</span><span>02</span><span>03</span><span>04</span><i>)</i><span>05</span><span>06</span><span class="blue">03</span></p>
                                <p>胆拖 4注8元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-link item-content">
                        <div class="item-media">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                        <div class="item-inner">
                            <a href="../hall.html" class="numbers back">
                                <p><i>(</i><span>01</span><span>02</span><span>03</span><span>04</span><i>)</i><span>05</span><span>06</span><span class="blue">03</span></p>
                                <p>胆拖 4注8元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-link item-content">
                        <div class="item-media">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                        <div class="item-inner">
                            <a href="../hall.html" class="numbers back">
                                <p><i>(</i><span>01</span><span>02</span><span>03</span><span>04</span><i>)</i><span>05</span><span>06</span><span class="blue">03</span></p>
                                <p>胆拖 4注8元</p>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div></div>
        <div class="fixedAction">
            <button class="button button-fill">清空</button>
            <button class="button button-fill">新增</button>
            <button class="button button-fill">随机一注</button>
            <div class="times">
                <span class="button button-fill">投<input type="phone" value="1"/>倍</span>
            </div>
        </div>

        <div class="rule">
            <label><input type="checkbox"/>我已阅读并同意<a>《委托投注规则》</a></label>
        </div>

        <div class="buyAction">
            <div class="row">
                <div class="col-20"></div>
                <div class="col-60 payCol">
                    共
                    <span>12</span>注
                    <span>24</span>元
                    <p>预计奖金：3.4~334.8元</p>
                </div>
                <div class="col-20">
                    <div class="theme-yellow">
                        <a href="/app/view/order/pay.html" class="button button-fill">付款</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>