body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:826px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12721 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:826px;
}
#u12722 {
  position:absolute;
  left:2px;
  top:405px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12723 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
}
#u12724 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u12725 {
  position:absolute;
  left:5px;
  top:10px;
  width:360px;
  height:11px;
}
#u12726 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12729 {
  position:absolute;
  left:0px;
  top:27px;
  width:375px;
  height:51px;
}
#u12730 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u12731 {
  position:absolute;
  left:167px;
  top:38px;
  width:41px;
  height:26px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u12732 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u12733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u12733 {
  position:absolute;
  left:338px;
  top:43px;
  width:27px;
  height:21px;
}
#u12734 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u12735 {
  position:absolute;
  left:359px;
  top:39px;
  width:10px;
  height:10px;
}
#u12736 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12737 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:81px;
}
#u12738 {
  position:absolute;
  left:0px;
  top:78px;
  width:375px;
  height:80px;
}
#u12739 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12740 {
  position:absolute;
  left:351px;
  top:138px;
  width:15px;
  height:15px;
}
#u12741 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12742 {
  position:absolute;
  left:329px;
  top:138px;
  width:15px;
  height:15px;
}
#u12743 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12744 {
  position:absolute;
  left:306px;
  top:138px;
  width:15px;
  height:15px;
}
#u12745 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:81px;
}
#u12747 {
  position:absolute;
  left:11px;
  top:236px;
  width:108px;
  height:80px;
}
#u12748 {
  position:absolute;
  left:2px;
  top:32px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12749 {
  position:absolute;
  left:129px;
  top:236px;
  width:230px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12750 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u12751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12751 {
  position:absolute;
  left:129px;
  top:262px;
  width:230px;
  height:32px;
}
#u12752 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u12753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12753 {
  position:absolute;
  left:313px;
  top:300px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12754 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u12755 {
  position:absolute;
  left:11px;
  top:323px;
  width:357px;
  height:1px;
}
#u12756 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12757 {
  position:absolute;
  left:129px;
  top:299px;
  width:60px;
  height:17px;
  color:#999999;
}
#u12758 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u12759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12759 {
  position:absolute;
  left:199px;
  top:299px;
  width:48px;
  height:17px;
  color:#999999;
}
#u12760 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u12761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12761 {
  position:absolute;
  left:261px;
  top:300px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12762 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12763 {
  position:absolute;
  left:6px;
  top:227px;
  width:362px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:81px;
}
#u12765 {
  position:absolute;
  left:11px;
  top:324px;
  width:108px;
  height:80px;
}
#u12766 {
  position:absolute;
  left:2px;
  top:32px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12767 {
  position:absolute;
  left:129px;
  top:324px;
  width:230px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12768 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u12769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12769 {
  position:absolute;
  left:129px;
  top:350px;
  width:230px;
  height:32px;
}
#u12770 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u12771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12771 {
  position:absolute;
  left:313px;
  top:388px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12772 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u12773 {
  position:absolute;
  left:11px;
  top:411px;
  width:357px;
  height:1px;
}
#u12774 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12775 {
  position:absolute;
  left:129px;
  top:387px;
  width:60px;
  height:17px;
  color:#999999;
}
#u12776 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u12777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12777 {
  position:absolute;
  left:199px;
  top:387px;
  width:48px;
  height:17px;
  color:#999999;
}
#u12778 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u12779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12779 {
  position:absolute;
  left:261px;
  top:388px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12780 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12781 {
  position:absolute;
  left:6px;
  top:315px;
  width:362px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12783 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u12784 {
  position:absolute;
  left:0px;
  top:776px;
  width:375px;
  height:50px;
  font-size:9px;
}
#u12785 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u12786 {
  position:absolute;
  left:0px;
  top:775px;
  width:375px;
  height:1px;
}
#u12787 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12788 {
  position:absolute;
  left:29px;
  top:784px;
  width:26px;
  height:22px;
}
#u12789 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12790 {
  position:absolute;
  left:103px;
  top:784px;
  width:26px;
  height:22px;
}
#u12791 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12792 {
  position:absolute;
  left:252px;
  top:784px;
  width:26px;
  height:22px;
}
#u12793 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
  background:inherit;
  background-color:rgba(41, 161, 247, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12794 {
  position:absolute;
  left:326px;
  top:784px;
  width:26px;
  height:22px;
}
#u12795 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u12796 {
  position:absolute;
  left:12px;
  top:807px;
  width:59px;
  height:13px;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u12797 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u12798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u12798 {
  position:absolute;
  left:102px;
  top:807px;
  width:28px;
  height:12px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u12799 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u12800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u12800 {
  position:absolute;
  left:251px;
  top:807px;
  width:28px;
  height:13px;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u12801 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u12802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#29A1F7;
  text-align:center;
}
#u12802 {
  position:absolute;
  left:325px;
  top:807px;
  width:28px;
  height:12px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#29A1F7;
  text-align:center;
}
#u12803 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u12804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12804 {
  position:absolute;
  left:178px;
  top:784px;
  width:26px;
  height:22px;
}
#u12805 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u12806 {
  position:absolute;
  left:180px;
  top:806px;
  width:28px;
  height:13px;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u12807 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u12808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u12809 {
  position:absolute;
  left:200px;
  top:779px;
  width:26px;
  height:13px;
  font-size:9px;
}
#u12810 {
  position:absolute;
  left:2px;
  top:-2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u12811 {
  position:absolute;
  left:203px;
  top:780px;
  width:19px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u12812 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u12813 {
  position:absolute;
  left:17px;
  top:781px;
  width:50px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12814 {
  position:absolute;
  left:91px;
  top:781px;
  width:50px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12815 {
  position:absolute;
  left:166px;
  top:780px;
  width:50px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12816 {
  position:absolute;
  left:240px;
  top:781px;
  width:50px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12817 {
  position:absolute;
  left:314px;
  top:781px;
  width:50px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:81px;
}
#u12819 {
  position:absolute;
  left:11px;
  top:412px;
  width:108px;
  height:80px;
}
#u12820 {
  position:absolute;
  left:2px;
  top:32px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12821 {
  position:absolute;
  left:129px;
  top:412px;
  width:230px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12822 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u12823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12823 {
  position:absolute;
  left:129px;
  top:438px;
  width:230px;
  height:32px;
}
#u12824 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u12825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12825 {
  position:absolute;
  left:313px;
  top:476px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12826 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u12827 {
  position:absolute;
  left:11px;
  top:499px;
  width:357px;
  height:1px;
}
#u12828 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12829 {
  position:absolute;
  left:129px;
  top:475px;
  width:60px;
  height:17px;
  color:#999999;
}
#u12830 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u12831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12831 {
  position:absolute;
  left:199px;
  top:475px;
  width:48px;
  height:17px;
  color:#999999;
}
#u12832 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u12833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12833 {
  position:absolute;
  left:261px;
  top:476px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12834 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12835 {
  position:absolute;
  left:6px;
  top:403px;
  width:362px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:81px;
}
#u12837 {
  position:absolute;
  left:11px;
  top:500px;
  width:108px;
  height:80px;
}
#u12838 {
  position:absolute;
  left:2px;
  top:32px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12839 {
  position:absolute;
  left:129px;
  top:500px;
  width:230px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12840 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u12841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12841 {
  position:absolute;
  left:129px;
  top:526px;
  width:230px;
  height:32px;
}
#u12842 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u12843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12843 {
  position:absolute;
  left:313px;
  top:564px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12844 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u12845 {
  position:absolute;
  left:11px;
  top:587px;
  width:357px;
  height:1px;
}
#u12846 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12847 {
  position:absolute;
  left:129px;
  top:563px;
  width:60px;
  height:17px;
  color:#999999;
}
#u12848 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u12849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12849 {
  position:absolute;
  left:199px;
  top:563px;
  width:48px;
  height:17px;
  color:#999999;
}
#u12850 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u12851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12851 {
  position:absolute;
  left:261px;
  top:564px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12852 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12853 {
  position:absolute;
  left:6px;
  top:491px;
  width:362px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12854 {
  position:absolute;
  left:6px;
  top:179px;
  width:60px;
  height:17px;
  color:#999999;
}
#u12855 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u12856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12856 {
  position:absolute;
  left:76px;
  top:179px;
  width:60px;
  height:17px;
  color:#999999;
}
#u12857 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u12858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12858 {
  position:absolute;
  left:146px;
  top:179px;
  width:60px;
  height:17px;
  color:#999999;
}
#u12859 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u12860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12860 {
  position:absolute;
  left:216px;
  top:179px;
  width:60px;
  height:17px;
  color:#999999;
}
#u12861 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u12862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12862 {
  position:absolute;
  left:286px;
  top:179px;
  width:60px;
  height:17px;
  color:#999999;
}
#u12863 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u12864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12864 {
  position:absolute;
  left:6px;
  top:200px;
  width:60px;
  height:17px;
  color:#999999;
}
#u12865 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u12866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:81px;
}
#u12867 {
  position:absolute;
  left:0px;
  top:587px;
  width:375px;
  height:80px;
}
#u12868 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:81px;
}
#u12870 {
  position:absolute;
  left:11px;
  top:686px;
  width:108px;
  height:80px;
}
#u12871 {
  position:absolute;
  left:2px;
  top:32px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12872 {
  position:absolute;
  left:129px;
  top:686px;
  width:230px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12873 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u12874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12874 {
  position:absolute;
  left:129px;
  top:712px;
  width:230px;
  height:32px;
}
#u12875 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u12876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12876 {
  position:absolute;
  left:313px;
  top:750px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12877 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u12878 {
  position:absolute;
  left:11px;
  top:773px;
  width:357px;
  height:1px;
}
#u12879 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12880 {
  position:absolute;
  left:129px;
  top:749px;
  width:60px;
  height:17px;
  color:#999999;
}
#u12881 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u12882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12882 {
  position:absolute;
  left:199px;
  top:749px;
  width:48px;
  height:17px;
  color:#999999;
}
#u12883 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u12884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12884 {
  position:absolute;
  left:261px;
  top:750px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12885 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12886 {
  position:absolute;
  left:6px;
  top:677px;
  width:362px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12887 {
  position:absolute;
  left:2px;
  top:588px;
  width:68px;
  height:24px;
}
#u12888 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u12889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u12889 {
  position:absolute;
  left:0px;
  top:643px;
  width:375px;
  height:24px;
}
#u12890 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  word-wrap:break-word;
}
#u12891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12891 {
  position:absolute;
  left:341px;
  top:198px;
  width:10px;
  height:16px;
  color:#999999;
}
#u12892 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u12893 {
  position:absolute;
  left:327px;
  top:28px;
  width:48px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
