<!-- Page, "data-page" contains page name -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="../hall.html" class="back">
                <i class="glyphicon glyphicon-menu-left"></i>
            </a>
        </div>
        <div class="center">竞彩篮球</div>
        <div class="right">
            <a>
                <i class="glyphicon glyphicon-hourglass"></i>
                <i class="glyphicon glyphicon-option-vertical"></i>
            </a>
        </div>
    </div>
</div>
<div class="page no-toolbar" data-page="rules-basketball">
    <div class="page-content">
        <p>竞彩篮球玩法说明</p>
    </div>
</div>