body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:662px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2872 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:662px;
}
#u2873 {
  position:absolute;
  left:2px;
  top:323px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2874 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
}
#u2875 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2878 {
  position:absolute;
  left:0px;
  top:27px;
  width:375px;
  height:51px;
}
#u2879 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u2880 {
  position:absolute;
  left:142px;
  top:38px;
  width:77px;
  height:26px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u2881 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u2882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u2882 {
  position:absolute;
  left:5px;
  top:10px;
  width:360px;
  height:11px;
}
#u2883 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u2884 {
  position:absolute;
  left:5px;
  top:44px;
  width:11px;
  height:16px;
}
#u2885 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2886 {
  position:absolute;
  left:0px;
  top:615px;
  width:375px;
  height:47px;
}
#u2887 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u2888 {
  position:absolute;
  left:301px;
  top:620px;
  width:70px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u2889 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2891 {
  position:absolute;
  left:0px;
  top:80px;
  width:375px;
  height:24px;
}
#u2892 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2894 {
  position:absolute;
  left:346px;
  top:80px;
  width:24px;
  height:24px;
}
#u2894_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2894.mouseDown {
}
#u2895 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u2896 {
  position:absolute;
  left:352px;
  top:89px;
  width:12px;
  height:7px;
}
#u2896_img.selected {
}
#u2896.selected {
}
#u2896_img.disabled {
}
#u2896.disabled {
}
#u2897 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2898 {
  position:absolute;
  left:122px;
  top:84px;
  width:97px;
  height:16px;
  text-align:center;
}
#u2899 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2901 {
  position:absolute;
  left:0px;
  top:119px;
  width:375px;
  height:24px;
}
#u2902 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2903 {
  position:absolute;
  left:122px;
  top:123px;
  width:97px;
  height:16px;
  text-align:center;
}
#u2904 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2906 {
  position:absolute;
  left:346px;
  top:119px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2906_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2906.mouseDown {
}
#u2907 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u2908 {
  position:absolute;
  left:352px;
  top:127px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2908_img.selected {
}
#u2908.selected {
}
#u2908_img.disabled {
}
#u2908.disabled {
}
#u2909 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2911 {
  position:absolute;
  left:0px;
  top:145px;
  width:375px;
  height:189px;
}
#u2912 {
  position:absolute;
  left:2px;
  top:86px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2913 {
  position:absolute;
  left:4px;
  top:150px;
  width:74px;
  height:16px;
}
#u2914 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u2915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u2915 {
  position:absolute;
  left:10px;
  top:200px;
  width:357px;
  height:1px;
}
#u2916 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2917 {
  position:absolute;
  left:85px;
  top:165px;
  width:77px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2918 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u2919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2919 {
  position:absolute;
  left:249px;
  top:165px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2920 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u2921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u2921 {
  position:absolute;
  left:1px;
  top:182px;
  width:67px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u2922 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u2923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u2923 {
  position:absolute;
  left:1px;
  top:168px;
  width:67px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u2924 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u2925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2926 {
  position:absolute;
  left:166px;
  top:211px;
  width:10px;
  height:10px;
}
#u2927 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2928 {
  position:absolute;
  left:189px;
  top:211px;
  width:10px;
  height:10px;
}
#u2929 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2930 {
  position:absolute;
  left:201px;
  top:210px;
  width:67px;
  height:15px;
  font-size:12px;
}
#u2931 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u2932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u2932 {
  position:absolute;
  left:98px;
  top:209px;
  width:67px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u2933 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u2934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2935 {
  position:absolute;
  left:319px;
  top:206px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2935_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2935.mouseDown {
}
#u2936 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u2937 {
  position:absolute;
  left:326px;
  top:214px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2937_img.selected {
}
#u2937.selected {
}
#u2937_img.disabled {
}
#u2937.disabled {
}
#u2938 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2940 {
  position:absolute;
  left:15px;
  top:230px;
  width:337px;
  height:15px;
  font-size:12px;
}
#u2941 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u2942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2942 {
  position:absolute;
  left:15px;
  top:255px;
  width:337px;
  height:15px;
  font-size:12px;
}
#u2943 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u2944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2944 {
  position:absolute;
  left:15px;
  top:280px;
  width:337px;
  height:15px;
  font-size:12px;
}
#u2945 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u2946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2946 {
  position:absolute;
  left:158px;
  top:319px;
  width:81px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2947 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u2948 {
  position:absolute;
  left:75px;
  top:280px;
  width:282px;
  height:39px;
}
#u2949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u2949 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  font-size:10px;
}
#u2950 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u2951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u2951 {
  position:absolute;
  left:92px;
  top:0px;
  width:92px;
  height:17px;
  font-size:10px;
}
#u2952 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u2953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u2953 {
  position:absolute;
  left:184px;
  top:0px;
  width:93px;
  height:17px;
  font-size:10px;
}
#u2954 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u2955 {
  position:absolute;
  left:0px;
  top:17px;
  width:92px;
  height:17px;
  font-size:10px;
}
#u2956 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u2957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u2957 {
  position:absolute;
  left:92px;
  top:17px;
  width:92px;
  height:17px;
  font-size:10px;
}
#u2958 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u2959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u2959 {
  position:absolute;
  left:184px;
  top:17px;
  width:93px;
  height:17px;
  font-size:10px;
}
#u2960 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u2961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2962 {
  position:absolute;
  left:252px;
  top:80px;
  width:125px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2963 {
  position:absolute;
  left:2px;
  top:17px;
  width:121px;
  word-wrap:break-word;
}
#u2964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2964 {
  position:absolute;
  left:252px;
  top:180px;
  width:125px;
  height:50px;
}
#u2965 {
  position:absolute;
  left:2px;
  top:17px;
  width:121px;
  word-wrap:break-word;
}
#u2966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2966 {
  position:absolute;
  left:252px;
  top:130px;
  width:125px;
  height:50px;
}
#u2967 {
  position:absolute;
  left:2px;
  top:17px;
  width:121px;
  word-wrap:break-word;
}
#u2968 {
  position:absolute;
  left:252px;
  top:85px;
  width:125px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2969 {
  position:absolute;
  left:252px;
  top:135px;
  width:125px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2970 {
  position:absolute;
  left:252px;
  top:184px;
  width:125px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
}
#u2971 {
  position:absolute;
  left:347px;
  top:53px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2972 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2973 {
  position:absolute;
  left:334px;
  top:30px;
  width:41px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u2974 {
  position:absolute;
  left:6px;
  top:620px;
  width:70px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u2975 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2977 {
  position:absolute;
  left:29px;
  top:615px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2977_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2977.mouseDown {
}
#u2978 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u2979 {
  position:absolute;
  left:36px;
  top:623px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2979_img.selected {
}
#u2979.selected {
}
#u2979_img.disabled {
}
#u2979.disabled {
}
#u2980 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2982 {
  position:absolute;
  left:0px;
  top:342px;
  width:375px;
  height:189px;
}
#u2983 {
  position:absolute;
  left:2px;
  top:86px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2984 {
  position:absolute;
  left:4px;
  top:347px;
  width:74px;
  height:16px;
}
#u2985 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u2986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u2986 {
  position:absolute;
  left:10px;
  top:397px;
  width:357px;
  height:1px;
}
#u2987 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2988 {
  position:absolute;
  left:85px;
  top:362px;
  width:77px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2989 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u2990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2990 {
  position:absolute;
  left:249px;
  top:362px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2991 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u2992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u2992 {
  position:absolute;
  left:1px;
  top:379px;
  width:67px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u2993 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u2994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u2994 {
  position:absolute;
  left:1px;
  top:365px;
  width:67px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u2995 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u2996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2997 {
  position:absolute;
  left:166px;
  top:408px;
  width:10px;
  height:10px;
}
#u2998 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2999 {
  position:absolute;
  left:189px;
  top:408px;
  width:10px;
  height:10px;
}
#u3000 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3001 {
  position:absolute;
  left:201px;
  top:407px;
  width:67px;
  height:15px;
  font-size:12px;
}
#u3002 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u3003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u3003 {
  position:absolute;
  left:98px;
  top:406px;
  width:67px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u3004 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u3005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3006 {
  position:absolute;
  left:319px;
  top:403px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3006_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3006.mouseDown {
}
#u3007 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u3008 {
  position:absolute;
  left:326px;
  top:411px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3008_img.selected {
}
#u3008.selected {
}
#u3008_img.disabled {
}
#u3008.disabled {
}
#u3009 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3010 {
  position:absolute;
  left:12px;
  top:453px;
  width:337px;
  height:15px;
  font-size:12px;
}
#u3011 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u3012 {
  position:absolute;
  left:61px;
  top:448px;
  width:288px;
  height:35px;
}
#u3013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u3013 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  font-size:10px;
}
#u3014 {
  position:absolute;
  left:2px;
  top:2px;
  width:138px;
  word-wrap:break-word;
}
#u3015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u3015 {
  position:absolute;
  left:142px;
  top:0px;
  width:141px;
  height:30px;
  font-size:10px;
}
#u3016 {
  position:absolute;
  left:2px;
  top:2px;
  width:137px;
  word-wrap:break-word;
}
#u3017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u3017 {
  position:absolute;
  left:131px;
  top:623px;
  width:106px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u3018 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u3019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u3019 {
  position:absolute;
  left:130px;
  top:640px;
  width:107px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u3020 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u3021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u3021 {
  position:absolute;
  left:190px;
  top:573px;
  width:70px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u3022 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3023 {
  position:absolute;
  left:106px;
  top:573px;
  width:70px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3024 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3025 {
  position:absolute;
  left:6px;
  top:573px;
  width:70px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3026 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3027 {
  position:absolute;
  left:49px;
  top:478px;
  width:282px;
  height:136px;
}
#u3028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:69px;
}
#u3028 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:69px;
  font-size:10px;
}
#u3029 {
  position:absolute;
  left:2px;
  top:28px;
  width:87px;
  word-wrap:break-word;
}
#u3030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u3030 {
  position:absolute;
  left:91px;
  top:0px;
  width:101px;
  height:69px;
  font-size:10px;
}
#u3031 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u3032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:69px;
}
#u3032 {
  position:absolute;
  left:192px;
  top:0px;
  width:85px;
  height:69px;
  font-size:10px;
}
#u3033 {
  position:absolute;
  left:2px;
  top:28px;
  width:81px;
  word-wrap:break-word;
}
#u3034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:62px;
}
#u3034 {
  position:absolute;
  left:0px;
  top:69px;
  width:91px;
  height:62px;
  font-size:10px;
}
#u3035 {
  position:absolute;
  left:2px;
  top:24px;
  width:87px;
  word-wrap:break-word;
}
#u3036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:62px;
}
#u3036 {
  position:absolute;
  left:91px;
  top:69px;
  width:101px;
  height:62px;
  font-size:10px;
}
#u3037 {
  position:absolute;
  left:2px;
  top:24px;
  width:97px;
  word-wrap:break-word;
}
#u3038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:62px;
}
#u3038 {
  position:absolute;
  left:192px;
  top:69px;
  width:85px;
  height:62px;
  font-size:10px;
}
#u3039 {
  position:absolute;
  left:2px;
  top:24px;
  width:81px;
  word-wrap:break-word;
}
#u3040 {
  position:absolute;
  left:12px;
  top:615px;
  width:64px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u3041 {
  position:absolute;
  left:285px;
  top:37px;
  width:27px;
  height:27px;
}
#u3042 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:189px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3044 {
  position:absolute;
  left:0px;
  top:78px;
  width:375px;
  height:189px;
}
#u3045 {
  position:absolute;
  left:2px;
  top:86px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3046 {
  position:absolute;
  left:4px;
  top:83px;
  width:74px;
  height:16px;
}
#u3047 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3048 {
  position:absolute;
  left:4px;
  top:113px;
  width:77px;
  height:29px;
}
#u3049 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u3050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(204, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3050 {
  position:absolute;
  left:98px;
  top:113px;
  width:77px;
  height:29px;
}
#u3051 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u3052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3052 {
  position:absolute;
  left:193px;
  top:113px;
  width:77px;
  height:29px;
}
#u3053 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u3054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3054 {
  position:absolute;
  left:287px;
  top:113px;
  width:77px;
  height:29px;
}
#u3055 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u3056 {
  position:absolute;
  left:210px;
  top:87px;
  width:100px;
  height:16px;
}
#u3057 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3056_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3058 {
  position:absolute;
  left:276px;
  top:87px;
  width:100px;
  height:16px;
}
#u3059 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3058_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3060 {
  position:absolute;
  left:6px;
  top:187px;
  width:74px;
  height:16px;
}
#u3061 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3064 {
  position:absolute;
  left:301px;
  top:218px;
  width:41px;
  height:26px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3065 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u3066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3066 {
  position:absolute;
  left:7px;
  top:212px;
  width:286px;
  height:38px;
}
#u3067 {
  position:absolute;
  left:2px;
  top:11px;
  width:282px;
  word-wrap:break-word;
}
#u3068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3068 {
  position:absolute;
  left:4px;
  top:152px;
  width:77px;
  height:29px;
}
#u3069 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u3070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3070 {
  position:absolute;
  left:98px;
  top:152px;
  width:77px;
  height:29px;
}
#u3071 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u3072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:257px;
}
#u3072 {
  position:absolute;
  left:0px;
  top:405px;
  width:375px;
  height:257px;
}
#u3073 {
  position:absolute;
  left:2px;
  top:120px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
