body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:591px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12985 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:591px;
}
#u12986 {
  position:absolute;
  left:2px;
  top:288px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12987 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
}
#u12988 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12991 {
  position:absolute;
  left:0px;
  top:27px;
  width:375px;
  height:51px;
}
#u12992 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u12993 {
  position:absolute;
  left:155px;
  top:38px;
  width:77px;
  height:26px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u12994 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u12995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u12995 {
  position:absolute;
  left:5px;
  top:10px;
  width:360px;
  height:11px;
}
#u12996 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u12997 {
  position:absolute;
  left:5px;
  top:44px;
  width:11px;
  height:16px;
}
#u12998 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12999 {
  position:absolute;
  left:0px;
  top:78px;
  width:375px;
  height:77px;
}
#u13000 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13001 {
  position:absolute;
  left:0px;
  top:154px;
  width:375px;
  height:1px;
}
#u13002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13003 {
  position:absolute;
  left:0px;
  top:155px;
  width:375px;
  height:63px;
}
#u13004 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13005 {
  position:absolute;
  left:39px;
  top:174px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13006 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u13007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13007 {
  position:absolute;
  left:254px;
  top:174px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13008 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u13009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13009 {
  position:absolute;
  left:28px;
  top:190px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13010 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u13011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13011 {
  position:absolute;
  left:232px;
  top:190px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13012 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u13013 {
  position:absolute;
  left:22px;
  top:240px;
  width:331px;
  height:219px;
}
#u13014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u13014 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u13015 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u13016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u13016 {
  position:absolute;
  left:108px;
  top:0px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u13017 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u13018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u13018 {
  position:absolute;
  left:216px;
  top:0px;
  width:110px;
  height:34px;
  font-size:12px;
}
#u13019 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u13020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u13020 {
  position:absolute;
  left:0px;
  top:34px;
  width:108px;
  height:30px;
  font-size:12px;
}
#u13021 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u13022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u13022 {
  position:absolute;
  left:108px;
  top:34px;
  width:108px;
  height:30px;
  font-size:12px;
}
#u13023 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u13024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u13024 {
  position:absolute;
  left:216px;
  top:34px;
  width:110px;
  height:30px;
  font-size:12px;
}
#u13025 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u13026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u13026 {
  position:absolute;
  left:0px;
  top:64px;
  width:108px;
  height:30px;
  font-size:12px;
}
#u13027 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u13028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u13028 {
  position:absolute;
  left:108px;
  top:64px;
  width:108px;
  height:30px;
  font-size:12px;
}
#u13029 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u13030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u13030 {
  position:absolute;
  left:216px;
  top:64px;
  width:110px;
  height:30px;
  font-size:12px;
}
#u13031 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u13032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u13032 {
  position:absolute;
  left:0px;
  top:94px;
  width:108px;
  height:30px;
  font-size:12px;
}
#u13033 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u13034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u13034 {
  position:absolute;
  left:108px;
  top:94px;
  width:108px;
  height:30px;
  font-size:12px;
}
#u13035 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u13036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u13036 {
  position:absolute;
  left:216px;
  top:94px;
  width:110px;
  height:30px;
  font-size:12px;
}
#u13037 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u13038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u13038 {
  position:absolute;
  left:0px;
  top:124px;
  width:108px;
  height:30px;
  font-size:12px;
}
#u13039 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u13040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u13040 {
  position:absolute;
  left:108px;
  top:124px;
  width:108px;
  height:30px;
  font-size:12px;
}
#u13041 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u13042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u13042 {
  position:absolute;
  left:216px;
  top:124px;
  width:110px;
  height:30px;
  font-size:12px;
}
#u13043 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u13044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u13044 {
  position:absolute;
  left:0px;
  top:154px;
  width:108px;
  height:30px;
  font-size:12px;
}
#u13045 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u13046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u13046 {
  position:absolute;
  left:108px;
  top:154px;
  width:108px;
  height:30px;
  font-size:12px;
}
#u13047 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u13048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u13048 {
  position:absolute;
  left:216px;
  top:154px;
  width:110px;
  height:30px;
  font-size:12px;
}
#u13049 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u13050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u13050 {
  position:absolute;
  left:0px;
  top:184px;
  width:108px;
  height:30px;
  font-size:12px;
}
#u13051 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u13052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u13052 {
  position:absolute;
  left:108px;
  top:184px;
  width:108px;
  height:30px;
  font-size:12px;
}
#u13053 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u13054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u13054 {
  position:absolute;
  left:216px;
  top:184px;
  width:110px;
  height:30px;
  font-size:12px;
}
#u13055 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u13056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u13056 {
  position:absolute;
  left:7px;
  top:82px;
  width:276px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u13057 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u13058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13058 {
  position:absolute;
  left:7px;
  top:108px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u13059 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u13060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13060 {
  position:absolute;
  left:44px;
  top:108px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u13061 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u13062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13062 {
  position:absolute;
  left:80px;
  top:108px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u13063 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u13064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13064 {
  position:absolute;
  left:117px;
  top:108px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u13065 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u13066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13066 {
  position:absolute;
  left:154px;
  top:108px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u13067 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u13068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13068 {
  position:absolute;
  left:190px;
  top:108px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u13069 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u13070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13070 {
  position:absolute;
  left:227px;
  top:108px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u13071 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u13072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13072 {
  position:absolute;
  left:0px;
  top:544px;
  width:375px;
  height:47px;
}
#u13073 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u13074 {
  position:absolute;
  left:97px;
  top:549px;
  width:175px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u13075 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
